Package: com.shjson.tingff
Name: tingff
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: king
Author: king
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
Version: 0.0.1-9+debug
Installed-Size: 956
